<div class="outer-container">
    <div class="container">
        <div class="card">
            <h2>Login Form</h2>
      <div>
          <label for="fname">First Name</label>
        <input type="text" id="fname" [(ngModel)]="signUpObj['firstName']"  placeholder="Enter your First Name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" [(ngModel)]="signUpObj['lastName']"  placeholder="Enter your Last Name">

          <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="signUpObj['email']"  placeholder="Enter your Email">

        <label for="password">Password</label>
        <input type="text" id="password" [(ngModel)]="signUpObj['password']" placeholder="Enter your Password">

        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="signUpObj['userName']" placeholder="Enter your Username">
        
        <div class="error" *ngIf="error">
                {{error}}
        </div>
        
        <button type="submit" (click)="register()">Register</button>
        <a href="javascript:void(0);" [routerLink]="['/login']">Login</a>
    </div>
    </div>
  </div>
</div>