<ng-container *ngIf="quote && !loader">
    <div class="container">
        <div class="row my-5 justify-content-center align-items-center">
        <div class="col-sm-12">
            <div class="bg-img">
                <div class="row justify-content-end pt-5 px-5 flex-wrap">
                    <figure class="quote">
                        <blockquote>
                          {{quote}}
                        </blockquote>
                        <figcaption>&mdash; {{authorName}} </figcaption>
                      </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-container>
<ng-container *ngIf="!quote && !loader">
    <div class="no-css-complete-title">
        <img src="../../../assets/images/question-screen.png" alt="">
        <div class="completeQestion">
         {{errorMsg}}
        </div>
      </div>
</ng-container>