<nav> 
    <ul class="pagination justify-content-center">
        <li #link class="page-item" (click)="prevBtn()" *ngIf="currentValue-1 > 0">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </li>

        <ng-container *ngFor="let item of [].constructor(3);let idx=index;">
      <li #link  class="page-link" [ngClass]="{'active':currentValue-1 == idx,'disabled':currentValue-1 == idx}" value="page"  (click)="activeLink($event)">{{idx+1}}</li>
        </ng-container>
        <li  #link class="page-item" (click)="nxtBtn()" *ngIf="currentValue-1 < 2">
            <span class="sr-only">Next</span>
<span aria-hidden="true"> &raquo;</span>
        </li>
    </ul>
</nav>
