.page-link {
    color: #069d72;
    cursor: pointer;
}

.active{
    z-index: 3;
    color: #fff;
    background-color: #069d72;
    border-color: #069d72;
}

.page-item{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #069d72;
    background-color: #fff;
    border: 1px solid #dee2e6;

}

.disabled{
    pointer-events: none;
}



.pagination li:first-child {
border-radius: 10px 0 0 10px;
}
.pagination li:last-child {
border-radius: 0px 10px 10px 0px;
}

.page-link {
    color: #28224e;
    cursor: pointer;
}
.page-item {
padding-left:15px;
padding-right:15px;
color: #28224e;}
.active {
    z-index: 3;
    color: #fff;
    background-color: #28224e;
    border-color: #28224e;
}
