<div class="outer-container">
    <div class="container">
        <div class="card">
            <h2>Login Form</h2>
      <div [formGroup]="loginModal">
          <label for="Email">Email</label>
        <input type="text" id="Email" formControlName = 'username'  placeholder="Enter your username">
  
        <label for="password">Password</label>
        <input type="password" id="password" formControlName = 'password' placeholder="Enter your password">
        
        <div class="error" *ngIf="error">
                {{error}}.
        </div>
        
        <button type="submit" (click)="login()" [disabled]="loginModal.invalid" [ngClass]="{'btn-disabled':loginModal.invalid}">Login</button>
        <a href="javascript:void(0);" [routerLink]="['/signup']">SignUp</a>
    </div>
    </div>
  </div>
</div>