<ng-container *ngIf="questionList.length>0 && !loader">
  <div class="container my-3">
    <h2 class="text-center my-3 mb-5 text-decoration-underline">DASS-42 Questionnaire</h2>
    <div class="row justify-content-start">
      <ng-container *ngFor="let que of questionList;let idx=index;">
        <div class="col-sm-6 my-2 px-3">
          <label for="question{{idx+1}}" class="fw-bold">{{idx+1}}. {{que.question}}.</label>
          <ng-container *ngFor="let choice of que.choices;let i = index;">
            <div class="form-check">
              <input type="radio" (change)="selectChoiceCrossQuestion($event,que.id)" class="form-check-input"
                id="{{idx}}{{i}}question" name="question{{idx+1}}" [value]="i">
              <label class="form-check-label" for="{{idx}}{{i}}question">{{choice}}</label>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="text-center my-3">
      <button type="submit" class="btn btn-primary" (click)="submitAnswer()">Submit</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="questionList.length == 0 && !loader">
      <div class="container">
        <div class="row my-4 justify-content-center align-items-center ">
          <div class="col-sm-12">
            <div class="thankyou-box">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-sm-12 text-center p-3 thankyou-title"> <h1>Thankyou For Your Response !</h1> </div>
                </div>
                <div class="row flex-column">
                  <div class="col-sm-12">
                    <div class="text-center p-3 thankyou-title">Your Calculated Dass Score</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="text-center p-3 thankyou-title"> Depression : {{dassScore.depress}} , Anxiety: {{dassScore.anxiety}} , Stress : {{dassScore.stress }} </div>
                  </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-6"> 
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">DASS (42) Scoring Guide</th>
                            <th scope="col">Depression</th>
                            <th scope="col">Anxiety</th>
                            <th scope="col">Stress</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Normal</th>
                            <td>0-9</td>
                            <td>0-7</td>
                            <td>0-14</td>
                          </tr>
                          <tr>
                            <th scope="row">Mild</th>
                            <td>10-13</td>
                            <td>8-9 </td>
                            <td>15-18</td>
                          </tr>
                          <tr>
                            <th scope="row">Moderate</th>
                            <td>14-20</td>
                            <td>10-14</td>
                            <td>19-25</td>
                          </tr>
                          <tr>
                            <th scope="row">Severe</th>
                            <td>21-27</td>
                            <td>15-19</td>
                            <td>26-33</td>
                          </tr>
                          <tr>
                            <th scope="row">Extremely Severe</th>
                            <td>28+</td>
                            <td>20+</td>
                            <td>34+</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
      </div>
</ng-container>
<div class="d-flex align-items-center justify-content-center" *ngIf="loader">
  <div class="spinner spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

   