<ng-container *ngIf="questionList.length>0 && !loader">
  <div class="container my-4 pt-4 bg-body rounded shadow-sm">
    <h2 class="text-center my-3 mb-5">DASS-42 Questionnaire</h2>
    <div class="Rtable Rtable--5cols Rtable--collapse">
      <div class="Rtable-row Rtable-row--head">
        <div class="Rtable-cell date-cell column-heading">Questionnaire 1 to 42</div>
        <div class="Rtable-cell topic-cell column-heading">Never</div>
        <div class="Rtable-cell access-link-cell column-heading">Sometimes</div>
        <div class="Rtable-cell replay-link-cell column-heading">Often</div>
        <div class="Rtable-cell pdf-cell column-heading">Heavily</div>
      </div>

      <div class="Rtable-row" *ngFor="let que of questionList;let idx=index;">
        <div class="Rtable-cell date-cell">
          <div class="Rtable-cell--content date-content"><label for="question{{idx+1}}"
              class="questionLable"><span>{{ calculateStartingSerialNumber() + idx }}</span> {{que.question}}.</label></div>
        </div>
        <div class="Rtable-cell topic-cell " *ngFor="let choice of que.choices;let i = index;">
          <div class="Rtable-cell--content title-content  ">
            <div class="form-check">
              <input type="radio" [checked]="getCheckboxState(que.id) == i" (change)="selectChoiceCrossQuestion($event,que.id)" class="form-check-input"
                id="{{idx}}{{i}}question" name="question{{idx+1}}" [value]="i">
              <label class="form-check-label" for="{{idx}}{{i}}question">{{choice}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="text-center mb-5" *ngIf="pageNumber==2">
    <button type="submit" class="btn btn-primary"
    [ngClass]="{'btn-disabled':answersList?.length != numberOfDassQuestion}"
    [disabled]="answersList?.length != numberOfDassQuestion" (click)="submitAnswer()">Submit</button>
  </div>
</ng-container>

<app-pagination *ngIf="!this.sufferingState" (emitToParent)="receiveChildren($event)"></app-pagination>

<ng-container *ngIf="questionList.length == 0 && !loader">
  <div class="container">
    <div class="row my-4 justify-content-center align-items-center ">
      <div class="col-sm-12">
        <div class="thankyou-box">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 text-center p-3 thankyou-title">
                <h1>Thankyou For Your Response !</h1>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-12 text-center p-3 thankyou-title">
                <h4>You're Suffering from {{sufferingState}} ! <img *ngIf="this.sufferingState != 'Nothing'" src="../../../assets/images/sad.svg" width="30" height="30" alt=""> </h4>
              </div>
            </div>
            <div class="row flex-column">
              <div class="col-sm-12">
                <div class="text-center p-3 thankyou-title">
                  <details>
                    <summary (click)="showDassTable=!showDassTable"> <span>Your Calculated Dass Score</span></summary>
                  </details>
                </div>
              </div>
            </div>
            <ng-container *ngIf="showDassTable">
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center p-3 thankyou-title"> 
  <button type="button" class="btn btn-primary">
    Depression <span class="badge bg-light text-dark">{{dassScore.depress}}</span>
  </button> &nbsp;
  
  <button type="button" class="btn btn-primary">
    Anxiety <span class="badge bg-light text-dark">{{dassScore.anxiety}}</span>
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary">
    Stress <span class="badge bg-light text-dark">{{dassScore.stress }}</span>
  </button>
  </div>
                </div>
              </div>
           
            <div class="row justify-content-center align-items-center">
              <div class="col-sm-12">
                <table class="table table-bordered tableSmall">
                  <thead  class="table-light">
                    <tr>
                      <th scope="col">DASS (42) Scoring Guide</th>
                      <th scope="col">Depression</th>
                      <th scope="col">Anxiety</th>
                      <th scope="col">Stress</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Normal</th>
                      <td>0-9</td>
                      <td>0-7</td>
                      <td>0-14</td>
                    </tr>
                    <tr>
                      <th scope="row">Mild</th>
                      <td>10-13</td>
                      <td>8-9 </td>
                      <td>15-18</td>
                    </tr>
                    <tr>
                      <th scope="row">Moderate</th>
                      <td>14-20</td>
                      <td>10-14</td>
                      <td>19-25</td>
                    </tr>
                    <tr>
                      <th scope="row">Severe</th>
                      <td>21-27</td>
                      <td>15-19</td>
                      <td>26-33</td>
                    </tr>
                    <tr>
                      <th scope="row">Extremely Severe</th>
                      <td>28+</td>
                      <td>20+</td>
                      <td>34+</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- <section class="dots-container">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</section> -->